{{#if isAuthor}}
    <a href="#/edit/{{this.teamId}}" class="btn btn-default">Edit Info</a>
{{/if}}
{{#if isOnTeam}}
    <a href="#/leave/{{this.teamId}}" class="btn btn-default">Leave Team</a>
{{else}}
    <a href="#/join/{{this.teamId}}" class="btn btn-default">Join Team</a>
{{/if}}