<div id="treks-list">
{{#each treks}}

    <a href="#/details/{{this.trekId}}" class="card overflow-hidden treksPlaceholder trek-details" style="width: 20rem; height: 18rem;">
      <div class="card-body">
        <p class="card-text">{{this.location}}</p>
      </div>
      <img class="card-image"
        src="{{this.imageURL}}"
        alt="Card image cap">
    </a>
{{/each}}
</div>