*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 250px;
    height: 250px;
    border: 5px dotted #08C273;
    text-align: center;
    margin: auto;
}

section p {
    width: 100%;
    border: 5px solid #0025C6;
    padding: 20px;
}